// Default Admin Color
.admin-color-fresh {
	
	.toggl-alert-rbm-repeater {
	
		.button.button-danger {
			
			background: #d54e21;
			border-color: darken( #d54e21, 15% );
			color: #fff;
			
			&:hover {
				border-color: lighten( darken( #d54e21, 15% ), 15% );
			}
			
		}
		
	}
	
}

.admin-color-light {
	
	.toggl-alert-rbm-repeater {
	
		.button.button-danger {
			
			background: #d64e07;
			border-color: darken( #d64e07, 15% );
			color: #fff;
			
			&:hover {
				border-color: lighten( darken( #d64e07, 15% ), 15% );
			}
			
		}
		
	}
	
}

.admin-color-blue {
	
	.toggl-alert-rbm-repeater {
	
		.button.button-danger {
			
			background: #e1a948;
			border-color: darken( #e1a948, 15% );
			color: #fff;
			
			&:hover {
				border-color: lighten( darken( #e1a948, 15% ), 15% );
			}
			
		}
		
	}
	
}

.admin-color-coffee {
	
	.toggl-alert-rbm-repeater {
	
		.button.button-danger {
			
			background: #9ea476;
			border-color: darken( #9ea476, 15% );
			color: #fff;
			
			&:hover {
				border-color: lighten( darken( #9ea476, 15% ), 15% );
			}
			
		}
		
	}
	
}

.admin-color-ectoplasm {
	
	.toggl-alert-rbm-repeater {
	
		.button.button-danger {
			
			background: #d46f15;
			border-color: darken( #d46f15, 15% );
			color: #fff;
			
			&:hover {
				border-color: lighten( darken( #d46f15, 15% ), 15% );
			}
			
		}
		
	}
	
}

.admin-color-midnight {
	
	.toggl-alert-rbm-repeater {
	
		.button.button-danger {
			
			background: #69a8bb;
			border-color: darken( #69a8bb, 15% );
			color: #fff;
			
			&:hover {
				border-color: lighten( darken( #69a8bb, 15% ), 15% );
			}
			
		}
		
	}
	
}

.admin-color-ocean {
	
	.toggl-alert-rbm-repeater {
	
		.button.button-danger {
			
			background: #aa9d88;
			border-color: darken( #aa9d88, 15% );
			color: #fff;
			
			&:hover {
				border-color: lighten( darken( #aa9d88, 15% ), 15% );
			}
			
		}
		
	}
	
}

.admin-color-sunrise {
	
	.toggl-alert-rbm-repeater {
	
		.button.button-danger {
			
			background: #ccaf0b;
			border-color: darken( #ccaf0b, 15% );
			color: #fff;
			
			&:hover {
				border-color: lighten( darken( #ccaf0b, 15% ), 15% );
			}
			
		}
		
	}
	
}