.toggl_alert-fieldhelpers-field {
  position: relative;
}

.toggl-alert-notification-tip {
  position: absolute;
  visibility: hidden;
  opacity: 0;
  left: 0;
  top: 100%;
  background-color: #fff;
  border: 1px solid #ddd;
  width: 400px;
  box-shadow: 0 0 30px rgba(#000, 0.2);
  padding: 0.5em;
  margin: 10px 0 0 0;
  transition: opacity 300ms, visibility 300ms, transform 300ms;
  word-wrap: break-word;
  transform: translateY(-50%);
  z-index: 100;

  &:before {
    content: '';
    position: absolute;
    top: -10px;
    left: 10%;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 10px 10px 10px;
    border-color: transparent transparent #fff transparent;
  }

  &.show {
    visibility: visible;
    opacity: 1;
    transform: translateY(0);
  }
}